@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  background-color: #E5E5E5;
  height: 100vh;
  width: 100%;
}

header{
  padding: 40px 0 0 40px;
}

.apresentacao{
  font-family: "Kode Mono", monospace;
  font-size: small;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  gap: 75px;
}

.apresentacao__texto{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap:30px;
  margin-top: 70px;
}


.apresentacao__credito{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.botao{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 6px;
}

.botao__rede__social{
  text-decoration: none;
}

textarea{
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px;
  max-width: 100%;
  height: 250px;
  line-height: 1.5;
  border-radius: 10px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  resize: none;
}

.apresentacao__botao{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.apresentacao__botao__criptografar{
  color: #e8e8e8;
  background-color: #8a2be2;
}

.apresentacao__botao__descriptografar{
  color: blueviolet;
  background-color: #ffffff;
}

.apresentacao__texto__resultado{
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 700px;
  width: 28.5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 0 32px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}

.div__textArea{
  position: absolute;
  margin-bottom: 70px;
}

.text__output{
  width: 350px;
  height: 500px;
}

.apresentacao__imagem{
  margin-top: 70px;
  width: 80%;
  border-radius: 50%;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}

.apresentacao__texto__resultado__tp{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.apresentacao__botao__copiar {
  padding: 15px 70px;
  margin-top: 70px;
}

button {
  font-family: "Kode Mono", monospace;
  font-size: small;
  font-weight: 400;
  font-style: normal;
  padding: 15px 25px;
  border-radius: 15px;
  border: unset;
  color: blueviolet;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 1.062rem;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}
  
button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: black;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}
  
button:hover {
  color: #e8e8e8;
}
  
button:hover::before {
  width: 100%;
}

@media (max-width: 973px) {
  .apresentacao {
    flex-direction: column;
  }
}